

$var1: #212121;
$var2: #ffffff;
$var3: #000000;
$var4: #ffffff;
$var5: #222222;
$var6: #1eacc7;
$var7: #1ca8c3;

@mixin overhead{
  background-color: $var3;
  color: $var2;
  text-transform: uppercase;
  font-weight: 200;
  padding: 6px 10px;
  margin-bottom: 40px;
  display: inline-block;
}
@mixin title_h2{
  font-size: 2.375rem;
  color: $var5;
  text-transform: uppercase;
  font-weight: 400;
}

@mixin btn_hover{
  &:hover{
    background-image: linear-gradient(#25b4cf, #45daf7);
  }
}

html{
  font-size: 16px;
}
body{
  font-family: 'Roboto', sans-serif;
}
/* Настройки элементов*/
span.label{
  @include overhead;
}
h2.title_h2{
  @include title_h2;
}
.subtitle{
  color: $var5;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 20px;
}
main {
  width: 100%;
}
header {
  width: 100%;
}
  .header_top-menu {
    width: 100%;
    background-color: $var1;
    position: relative;
    z-index: 10;
    nav {
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
      padding: 10px 70px;
      a {
        display: inline-block;
        color: $var2;
        transition: .5s;
        position: relative;
        padding: 10px 25px;
        border-right: 2px dotted $var3;
        font-weight: 300;
        font-size: 0.9rem;
        &:last-child {
          border-right: none;
        }
        &:hover {
          text-decoration: none;
          background-color: $var2;
          color: $var1;
          border-radius: 3px;
        }
      }
    }
  }
  .header_logo {
    background-color: rgba(0,0,0,0.6);
    position: relative;
    z-index: 10;
    .padd {
      padding: 5px 95px 10px 95px;
      .col {
        padding-top: 5px;
        padding-bottom: 5px;
        &:first-child {
          padding-top: 18px;
        }
      }
    }
    .tel {
      text-align: right;
      margin-right: 30px;
      span:first-child {
        color: $var2;
        font-weight: 300;
      }
      span:last-child {
        color: $var2;
        font-size: 24px;
        letter-spacing: 2px;
      }
    }
    .wrap_tel button {
      background-image: linear-gradient(#45daf7,#25b4cf);
      color: $var4;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 300;
      @include btn_hover;
    }
  }

/* Кнопка для меню */
.burg{
  width: 30px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 11px;
  cursor: pointer;
  display: none;
  z-index: 100;
  overflow: hidden;
  span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: $var2;
    position: absolute;
    transition: all .3s;
    &.sp2,&.sp3{
      top: 50%;
      transform: translateY(-50%);
    }
    &.sp4{
      bottom: 0;
    }
  }
}

.burg_activ span.sp1{
  transform: translateX(-100%);
  opacity: 0;
}
.burg_activ span.sp4{
  transform: translateX(100%);
  opacity: 0;
}
.burg_activ span.sp2{
  transform: rotate(45deg);
}
.burg_activ span.sp3{
  transform: rotate(-45deg);
}
/* / --Кнопка для меню */
.header_main-title {
  min-height: 100vh;
  background-image: url(../img/header_img/Layer-3.jpg);
  background-size: cover;
  background-position: 50% 50%;
  margin-top: -220px;
  position: relative;
  z-index: 5;
  padding-top: 286px;
  padding-bottom: 100px;
  h1 {
    color: $var2;
    font-size: 3.75rem;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 44px;
    span {
      font-size: 1.875rem;
      font-weight: 400;
    }
  }
  p {
    color: $var2;
    &:last-of-type {
      margin-bottom: 50px;
    }
  }
  button {
    width: 260px;
    height: 60px;
    font-size: 18px;
    background-image: linear-gradient(#45daf7,#25b4cf);
    color: $var4;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 300;
    @include btn_hover;
  }
}
section#Services {
  width: 100%;
  padding: 70px 0 100px 0;
}
.block_Services {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  .block_Services-img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: $var6;
    text-align: center;
    line-height: 110px;
    margin-right: 20px;
    img{
      transition: .3s;
    }
  }
  .block_Services-text {
    width: 69%;
    h4 {
      color: $var6;
      font-size: 17px;
    }
  }
  &:hover .block_Services-img img{
    transform: scale(1.1);
  }
}
section#Mobile_app{
  width: 100%;
  padding: 70px 0 100px 0;
}
.mobile_item{
  width: 320px;
  max-width: 95%;
  height: 280px;
  margin: 10px auto;
  position: relative;
  .mobile_item_title{
    text-align: center;
  }
}
.mobile_item_title{
  padding-top: 80px;
  color: $var2;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}
.mobile_item_1{
  background-image: url(../img/mobile/Rectangle-1.jpg);
}
.mobile_item_2{
  background-image: url(../img/mobile/Rectangle-2.jpg);
}
.mobile_item_3{
  background-image: url(../img/mobile/Rectangle-3.jpg);
}
.mobile_item_4{
  background-image: url(../img/mobile/Rectangle-4.jpg);
}
.mobile_item_5{
  background-image: url(../img/mobile/Rectangle-5.jpg);
}
.mobile_item_6{
  background-image: url(../img/mobile/Rectangle-6.jpg);
}
.mobile_item_plus{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $var3;
  text-align: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  &:after{
    content: "";
    display: block;
    width: 14px;
    height: 2px;
    background-color: #44d9f5;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
  }
  &:before{
    content: '';
    display: block;
    width: 2px;
    height: 14px;
    background-color: #44d9f5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

section#the_choice{
  width: 100%;
  min-height: 870px;
  background-image: url(../img/Rectangle-20-copy-5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 55px 0 100px 0;
  position: relative;
  .label_white,.title_h2_white,.subtitle_white{
    position: relative;
    z-index: 10;
  }
 .label_white{
 background-color: $var4;
 color: #070716;
 text-transform: uppercase;
 font-weight: 200;
 padding: 6px 20px;
 margin-bottom: 40px;
 display: inline-block;
 }
  .title_h2_white{
 font-size: 2.375rem;
 color: $var4;
 text-transform: uppercase;
 font-weight: 400;
 }
 .subtitle_white{
 color: $var4;
 font-size: 17px;
 font-weight: 400;
 margin-bottom: 20px;
 }
  img{
    display: block;
    margin: 55px auto 0 auto;
    position: relative;
    z-index: 10;
  }
  .black{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: #070716;
    z-index: 1;
  }
  .the_choice_discr{
    text-align: center;
    color: $var5;
    font-size: 17px;
    font-weight: 700;
  }
}

section#Conditions{
  width: 100%;
  padding: 70px 0 100px 0;
  h2{
    margin-bottom: 30px;
  }
}
.conditions{
  .block_list{
    width: 100%;
    margin-bottom: 66px;
    &_title{
      h4{
        color: $var7;
        font-size: 22px;
        margin-bottom: 22px;
        span{
          text-transform: uppercase;
        }
      }
      h4.block_list_red{
        color: #ff5656;
      }
    }
    &_discr{
      color: $var7;
      font-size: 17px;
    }
    &_items{
      list-style: none;
      li{
        margin-bottom: 15px;
        color: $var5;
        font-size: 17px;
        position: relative;
        &:before{
          content: "";
          display: block;
          width: 21px;
          height: 21px;
          background-image: url(../img/check_icon.png);
          background-size: contain;
          position: absolute;
          left: -30px;
          top: 6px;        }
      }
    }
    ul.list_item_red{
      li:before{
        background-image: url(../img/check_icon_red.png);
        background-size: contain;
      }
    }
  }
  .block_list_none{
    margin-bottom: 0px;
  }
}

section#Maps{
  width: 100%;
  min-height: 710px;
  background-image: url(../img/footer_img/Layer-33.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  position: relative;
  .label_white{
  background-color: $var4;
  color: #070716;
  text-transform: uppercase;
  font-weight: 200;
  padding: 6px 20px;
  margin-bottom: 40px;
  display: inline-block;
  }
   .title_h2_white{
  font-size: 2.375rem;
  color: $var4;
  text-transform: uppercase;
  font-weight: 400;
  }
  .subtitle_white{
  color: $var4;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 20px;
  }
  a.maps_bottom_link{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: #1fbad6;
    text-transform: uppercase;
  }
}

footer{
  width: 100%;
  min-height: 145px;
  position: relative;
  padding-top: 15px;
  padding-bottom: 30px;
  .block_social{
    display: flex;
    padding-top: 50px;
    &_itam{
      width: 33px;
      height: 33px;
      border-radius: 50%;
      background-color: #070716;
      margin-right: 19px;
      text-align: center;
      line-height: 33px;
      cursor: pointer;
      transition: .3s;
      display: inline;
      .fa{
        color: $var2;
      }
      &:hover{
        background-color: #1fbad6;
      }
      &:hover .fa{
        color: $var5;
      }
    }
  }
  .goog_icon{
     text-align: right;
     padding-top: 50px;
  }
  .footer_block_links{
    padding-top: 30px;
    .block_big_links{
      display: flex;
      justify-content: space-around;
      margin-bottom: 3px;
      a{
        color: #070716;
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 500;
        display: inline-block;
      }
    }
    .block_small_links{
      display: flex;
      justify-content: space-around;
      a{
        color: #999999;
        font-size: 11px;
        text-transform: uppercase;
      }
    }
    .link_lang{
      text-align: center;
      margin-top: 5px;
      a{
        font-size: 11px;
        color: #1fbad6;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 500;
      }
    }
    &:before{
      content: '';
      display: block;
      width: 0px;
      height: 4px;
      background-color: #1fbad6;
      position: absolute;
      top: -3px;
      left: 50%;
      transform: translateX(-50%);
      transition: all .4s;
    }
    &:hover:before{
      width: 375px;
    }
  }
}

.overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 50;
  transform: scale(0);
  transition: .3s;
}
.overlay_activ{
  transform: scale(1);
}